@font-face {
    font-family: Agency;
    src: url(../fonts/AGENCYR.TTF);
}

body {
    margin: 0;
    height: 100vh;
    background: #0F6988;
    font-family: Agency;
}

.wrap {
    margin: 0 auto;
    padding: 20px 0 0;
    width: 810px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
}

.logo {
    font-size: 100px;
    line-height: 100px;
}

.logo, .score-record, .score-current {
    background: #ffffef;
    color: #00bfff;
    padding: 0 10px;
}

.score-record, .score-current {
    font-size: 36px;
    float: right;
}

.score-span {
    display: inline-block;
    width: 50px;
    padding: 0 10px;
    text-align: right;
}


.gdflap-game {
    position: relative;
}

.gdflap-game-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.5);
    width: 800px;
    height: 400px;
    display: none;
}

.gdflap-game-menu {
    position: absolute;
    padding: 25px 40px;
top: 100px;
    left: 150px;
    width: 400px;
    height: 150px;

    background: #00bfff;
    border: 5px solid #ffffef;
    color: #ffffef;
}

.gameover {
    font-size: 72px;
    text-align: center;
}

.retry-btn {
    /*border: 3px solid #0f6988;*/
    background: #ffffef;
    color: #00bfff;
    width: 200px;
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
